<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <a href="#" class="navbar-brand">美味</a>

        <ul class="nav navbar-nav">
          <li class="active"><a href="#">首页</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>

    </div>


    <div class="navbar-collapse collapse" id="navbar">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <button class="btn btn-success" type="submit">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>